* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: black;
    padding: 0;
}

.wave-top, .wave-bottom {
    background-size: cover;
    background-position: center;
    position: relative;
    height: 25em;
    overflow: hidden;
    margin-bottom: 0 !important;
}

.wave-top {
    background-image: url("./images/bg-top.svg");
}

.wave-bottom {
    background-image: url("./images/bg-bottom.svg");
}

.container {
    margin: 0 auto;
}

.my-infos {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    text-align: start;
    margin-top: 8em;
}

.my-infos .formation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

.my-infos .formation h2,.my-infos .formation h5{
    margin-top: auto;
}

.my-infos h1 {
    font-size: 5em;
    border-bottom: 15px solid white;
}

.my-infos h2 {
    font-size: 3em;
}

.social-links {
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    background-color: rgba(36, 47, 66, 0.9);
    padding: 20px;
    border-radius: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.social-links h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.social-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social-logos a {
    margin: 0;
}

.social-logos i {
    font-size: 30px;
    transition: color 0.3s ease;
}

.social-logos a:hover i {
    color: #5263ff;
}


.a-propos-container {
    background-color: #181818;
    height: 60em;
    text-align: center;
    overflow: hidden;
}

.a-propos-content img {
    height: 30em;
    border-radius: 50px;
}

.a-propos-content {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}

.a-propos-right {
    width: 35%;
}

.a-propos-soft-skills {
    display: flex;
    justify-content: space-between;
}

.soft-skill {
    width: 8em;
    height: 6em;
    background-color: #242f42;
    border-radius: 20px;
}

.soft-skill p {
    text-align: center !important;
    font-size: 1em !important;
    font-weight: bold;
}

.a-propos-right i {
    margin-top: 10%;
    font-size: 2em;
}

.a-propos-content .a-propos-right p {
    width: 100%;
    font-size: 1.5em;
    text-align: start;
}

.a-propos-content .a-propos-right > p {
    margin-top: 1em;
}

.a-propos-title {
    margin-top: 3%;
    font-size: 2em;
    margin-bottom: 2em;
}

.projects {
    background-color: #242f42;
    padding: 2em;
    border-radius: 10px;
    margin-top: 2em;
}

.projects h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #5263ff;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    width: 75%;
    margin: auto;
}

.project {
    background-color: #121212;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-info {
    padding: 1em;
    text-align: center;
}

.project-info h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #5263ff;
}

.project-info p {
    font-size: 1em;
    color: #aaa;
    margin-bottom: 1em;
}

.project-info a {
    display: inline-block;
    padding: 0.5em 1.5em;
    background-color: #5263ff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-info a:hover {
    background-color: #4051b5;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(36, 47, 66, 0.9);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    z-index: 1000;
}

.nav-bar .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    position: relative;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.nav-bar .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #5263ff;
    transition: width 0.3s ease;
}

.nav-bar .nav-link:hover::before,
.nav-bar .nav-link.active::before {
    width: 100%;
}

.nav-bar .nav-link:hover,
.nav-bar .nav-link.active {
    color: #5263ff;
}

.competences-section {
    background-color: #181818;
    padding: 2em;
    border-radius: 10px;
    margin-top: 2em;
}

.competences-section h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    color: white;
}

.competences-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.programming-languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5em;
}

.programming-languages, .tools {
    background-color: #242f42;
    padding: 1em;
    border-radius: 10px;
    width: 45%;
    margin-bottom: 2em;
}

.programming-languages .language, .tools h3 {
    display: flex;
    align-items: center;
}

.programming-languages .language {
    margin-bottom: 0.5em;
}

.programming-languages .language-logo, .outils-list .outil-logo {
    width: 3.7em;
    height: 3.7em;
}

.programming-languages .language-logo{
    margin-right: 1em;

}

.programming-languages h3, .tools h3 {
    font-size: 1.5em;
    color: #5263ff;
}

.programming-languages .sub-skills {
    margin-left: 3.5em; /* aligns the sub-skills text with the language name */
    font-size: 1em;
    color: #aaa;
    margin-bottom: 1em;
}
.outils-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
    justify-content: center;
    width: 70%;
    margin: 3em auto auto;
}

.outil{
    text-align: center;
}

.tools h3{
    justify-content: center;
}




/* Responsive Styles */
@media (max-width: 1200px) {
    .my-infos {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: 1em;
        margin-left: 1em;
    }

    .my-infos h1 {
        font-size: 4em;
    }

    .my-infos h2 {
        font-size: 2.5em;
    }

    .a-propos-content {
        flex-direction: column;
        width: 90%;
    }

    .a-propos-right {
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .my-infos h1 {
        font-size: 3em;
    }

    .my-infos h2 {
        font-size: 2em;
    }


    .social-logos i {
        font-size: 30px;
    }

    .a-propos-title{
        margin-bottom: 1em;
    }

    .a-propos-content img {
        height: 15em;
        width: 15em;
        border-radius: 10em;
        margin: auto;
    }

    .a-propos-content {
        flex-direction: column;
        width: 100%;
    }

    .a-propos-right {
        width: 100%;
        margin-top: 20px;
    }

    .a-propos-soft-skills {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .a-propos-content .a-propos-right > p {
        margin-top: 1em;
        font-size: 1em;

    }

    .soft-skill {
        width: 8em;
        height: auto;
        margin-bottom: 10px;
    }

    .projects {
        padding: 1em;
    }

    .project-list {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 90%;
    }

    .competences-container {
        flex-direction: column;
        align-items: center;
    }

    .programming-languages, .tools {
        width: 90%;
    }
}
